mixin grade()
    section.grade 
        .grade__content 
            h2.grade__title.plus__title Три слагаемых качества наших сайтов
            .grade__slider.swiper
                ul.grade__list.swiper-wrapper
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 1. Презентабельный внешний вид 
                                span.grade__info-title-line
                            p Основная задача любого сайта — демонстрация образа компании её потенциальным клиентам
                            p Устаревший, неаккуратный и неудобный сайт формирует соответствующее представление о компании
                            p Продуманный, структурированный и эстетично оформленный внешний вид — залог формирования правильного представления о компании у целевой аудитории сайта
                        .grade__images 
                            .grade__image 
                                img(src="img/content/grade1.png")
                            .grade__image 
                                img(src="img/content/grade2.png")
                            .grade__image 
                                img(src="img/content/grade3.png")
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 2. Высокая степень конверсии 
                                span.grade__info-title-line
                            p Просто красивый сайт не всегда приносит много продаж
                            p Соотношение пользователей, посетивших ваш сайт и пользователей, оставивших заявку — важный и, главное, измеряемый показатель эффективности сайта
                            p Чтобы сделать сайт, который будет эффективно работать в рекламе или в любом другом виде продвижения, важно правильно спроектировать интерфейс
                            p При проектировании интерфейса, мы опираемся на лучшие мировые практики а также на наш опыт настройки рекламы и отслеживания статистики посещений сайтов
                        .grade__image 
                            img(src="img/content/grade4.png")
                    li.grade__item.swiper-slide
                        .grade__info 
                            h3.grade__info-title 3. Удобное управление сайтом
                                span.grade__info-title-line
                            p Основная задача любого сайта — демонстрация образа компании её потенциальным клиентам
                            p Устаревший, неаккуратный и неудобный сайт формирует соответствующее представление о компании
                            p Продуманный, структурированный и эстетично оформленный внешний вид — залог формирования правильного представления о компании у целевой аудитории сайта
                        .grade__image 
                            img(src="img/content/grade5.png")