mixin intro()
  section.intro
    .intro__bg 
      img(src="img/sprite/group.svg")
    .intro__content 
      .intro__inner
        h1.intro__title.hidden Мы разрабатываем сайты и делаем это хорошо
        p.intro__text.hidden Удобные и функциональные сайты любой сложности для бизнеса. Без шаблонов. Под ключ. 
        a(href="#!").intro__link Получить расчет проекта
    .intro__bg 
      img(src="img/sprite/ellipse-bg.svg")